@import url("https://fonts.googleapis.com/css2?family=Changa:wght@300;400;500&display=swap");

// fonts
$changa: "Changa", sans-serif;

// colors
$color--primary: red;
$color--secondary: blue;

$color--bg-dark: #222222;
$color--bg-middle: #2c2c2c;
$color--font: #e8e8e8;

body {
  margin: 0;
  padding: 0;

  background-color: $color--bg-dark;
  color: $color--font;
  font-family: $changa;
}
