.cards__container {
  width: 90%;
  height: 5rem;

  margin: 0 auto 1.5rem auto;

  cursor: pointer;

  .cards__wrapper {
    display: flex;

    width: 100%;
    height: 6rem;

    border-bottom-right-radius: $border-radius;
    border-top-right-radius: $border-radius;
    background-color: $color--bg-middle;

    .cards__wrapper-colorstrip {
      width: 7px;
      height: 100%;

      border-bottom-left-radius: $border-radius;
      border-top-left-radius: $border-radius;

      background-color: #eb4d4b;
    }

    .cards__wrapper-contentarea {
      padding-left: 0.5rem;

      h2 {
        margin: 0;
        font-size: 1.1rem;
      }
    }
  }
}
