#inputField {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;

  overflow-x: hidden;
  width: 0%;
  height: 100vh;
  border-left: 5px solid $color--primary;

  background-color: $color--bg-middle;
  transition: all 0.6s ease-in-out;

  @mixin input-field-styles {
    display: block;
    width: 90%;
    margin: 1rem auto;
    border: none;
    border-radius: $border-radius;
    background-color: $color--bg-dark;
    color: $color--font;
  }

  #input__title {
    @include input-field-styles;
    height: 10%;
    padding-left: 1rem;
    font-size: 1.5rem;
  }

  textarea {
    @include input-field-styles;
    height: 72%;
    padding: 1rem;
    font-size: 1rem;

    white-space: pre;
    overflow-x: hidden;
  }

  .button__area {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 10%;
    margin: auto;

    button {
      width: 4rem;
      margin: 0.5rem;
      cursor: pointer;
    }
  }
}
