#inputField {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;

  overflow-x: hidden;
  width: 0%;
  height: 100vh;
  border-left: 5px solid $color--primary;

  background-color: $color--bg-middle;
  transition: all 0.4s ease-in-out;

  @mixin input-field-styles {
    display: block;
    min-width: 260px;
    width: 90%;
    margin: 1rem auto;
    border: none;
    border-radius: $border-radius;
    background-color: $color--bg-dark;
    color: $color--font;
  }

  #input__title {
    @include input-field-styles;
    height: 10%;
    padding-left: 1rem;
    font-size: 1.5rem;
  }

  textarea {
    @include input-field-styles;
    height: 60%;
    padding: 1rem;
    font-size: 1rem;
    overflow-x: hidden;
  }

  input[type="color"] {
    width: 2.9rem;
    margin: 0.3rem;
    height: 2.8rem;
    border: none;
    background: transparent;
  }

  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
  }

  input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
  }

  .button__area {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 90%;
    height: 10%;
    margin: auto;

    button {
      width: 3em;
      margin: 0.5rem;
      cursor: pointer;
    }

    .button__delete {
      display: none;
    }
  }
}
